<% if model.errors.any? %>
  <div class="error_explanation">
    <div><i class="fa-solid fa-bullhorn"></i>入力不足があります!!</div>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>