<% if obj.errors.any? %>
  <div id="error_explanation">
    <i class="fa-solid fa-bullhorn"></i><h5>入力不足があります!!</h5>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>